<section class="landing">
  <div class="first">
    <div class="site-title drop-shadow">
      {{siteSettings.pkv_home_site_title}}
    </div>
    <br />
    <div class="home-title drop-shadow">
      <span>{{siteSettings.pkv_home_site_description}}</span>
    </div>
  </div>

  <div class="landing-block">
    {{#if infoTopics}}
    <h2>Infos</h2>
      <div class="info-topic-list">
        {{#each infoTopics as |infoTopic|}}
          {{info-topic topic=infoTopic}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</section>
