<div class="image-div">
    <img src="{{topic.image_url}}" class="banner-image">
</div>
<div class="overlay"></div>
<a class="content" href="{{{topic.url}}}">
  <div class="title-container">
      <h4>
          {{{topic.unicode_title}}}
      </h4>
  </div>
</a>
